*,
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-image: linear-gradient(to bottom, #27374d, #292839, #221c26, #171115, #000000); */
  background-image: radial-gradient(
    circle,
    #27374d,
    #292839,
    #221c26,
    #171115,
    #000000
  );
}
.title {
  height: 120px;
  width: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.title > img {
  margin-top: 20px;
}
.firstBlock {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.firstBlock > button {
  font-size: 24px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
  background-color: #27374d;
  border: 5px solid ghostwhite;
  color: ghostwhite;
}
.firstBlock > button:hover {
  background-color: #374f70;
  color: white;
  border: 5px solid white;
}
.firstBlock > input {
  height: 80px;
  width: 40%;
  border-radius: 10px;
  font-size: 26px;
  margin-left: 20px;
  outline: none;
  padding: 10px;
  box-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.2);
}
.secondBlock {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: 700px;
  padding: 20px;
}
.first,
.second,
.third {
  flex: 1;
  margin: 10px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  overflow-x: hidden;
}
.first:hover,
.second:hover,
.third:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.item {
  color: white;
  height: auto;
  width: auto;
  margin: 15px;
  border-radius: 20px;
  padding: 20px;
  min-height: 120px;
  display: flex;
  align-items: center;
  cursor: grab;
}
.first > div > .item {
  background: #667db6;
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}
.second > div > .item {
  background: #ffb75e;
  background: -webkit-linear-gradient(to right, #ed8f03, #ffb75e);
  background: linear-gradient(to right, #ed8f03, #ffb75e);
  color: #171115;
}

.third > div > .item {
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}

.third > div >.item> h4 {
  text-decoration: line-through;
}

.first > p,
.second > p,
.third > p {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #171115;
  position: sticky;
  top: 0;
}